<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.soapapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="it.soapapp.SoapAPPProvider"
            android:authorities="it.soapapp.provider"
            android:enabled="true"
            android:exported="false"
            android:label="@string/provider_SoapAPP"
            android:multiprocess="false" >
        </provider>

        <activity
            android:name="it.soapapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.soapapp.MagazzinoActivity"
            android:label="@string/title_activity_magazzino"
            android:parentActivityName="it.soapapp.MainActivity" >
        </activity>
        <activity
            android:name="it.soapapp.StoreActivity"
            android:label="@string/title_activity_store" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.soapapp.MainActivity" />
        </activity>
    </application>

</manifest>
